.container {
  max-width: 1180px;
  width: 90%;
  margin: auto;
}
.icon-size{
  font-size: 28px;
}
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  .icon-size{
    font-size: 20px;
  }
}
.control-dots{
  display: none;
}
.legends{
  top: 15%;
  right: 50%;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.selected > div > .legends{
  top: 20%;
  right: 50%;
  opacity: 1;
  transition: all 1s ease-in-out;
}
.chartshow{
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.input-color:checked + span{
  box-shadow: 0 0 0 1px #999;
    border: 2px solid #fff;
}
.color-check{
  opacity: 0;
  transform: translate(45%,-65%);
}
.input-color:checked + span > .color-check{
  color: #fff;
  opacity: 1;
}
.input-spec:checked + span{
    
    border: 1px solid #129cb8;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}
.subcart{
  right: 0;
  transition: all 0.4s ease-in-out;
}
.active.subcart {
  right: -350px;
  transition: all 0.4s ease-in-out;
}
.product-wrap{
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}